<div class="footer-below">
    <h3>ソーシャルメディア</h3>
    <ul class="list-inline">
        <li>
            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
        </li>
        <li>
            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
        </li>
        <li>
            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
        </li>
        <li>
            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
        </li>
        <li>
            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
        </li>
    </ul>
    <p>
        Copyright &copy; K 2016</p>
    </div>